.reveal {
    font-size: 1.4em;
}

.reveal table * {
    font-size: 18pt;
    line-height: 1.2em;
}

span.spacebot {
    display: block;
    padding-bottom: 3%;
}

.reveal .front p {
    font-size: 1.8em;
    margin: 5px 0;
}

.reveal p {
    margin: 0;
    text-align: left;
}

.reveal hr {
    margin-top: 0;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
    margin-top: 2%;
    margin-bottom: 0;
}

table tr td {
    border-bottom: 0 !important;
}

.ausbildung td:nth-child(1) {
    font-weight: bolder;
    width: 20%;
}

.ausbildung td:nth-child(2) {
    font-style: italic;
    width: 55%;
}

.ausbildung td:nth-child(3) {
    width: 25%;
}

.sprache {
    width: 100%;
}

.sprache td:nth-child(1) {
    width: 20%;
}

.sprache td:nth-child(2) {
    width: 80%;
}